RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite rules for budget folder
RewriteRule ^budget/add_budget/?$ budget/add_budget.php [L]
RewriteRule ^budget/view_budget/?$ budget/view_budget.php [L]
RewriteRule ^budget/edit_budget/?$ budget/edit_budget.php [L]
RewriteRule ^budget/delete_budget/?$ budget/delete_budget.php [L]

# Rewrite rules for transaction folder
RewriteRule ^transaction/add_income/?$ transaction/add_income.php [L]
RewriteRule ^transaction/add_expense/?$ transaction/add_expense.php [L]
RewriteRule ^transaction/view_transactions/?$ transaction/view_transactions.php [L]

# Rewrite rules for goal folder
RewriteRule ^goal/financial_goals/?$ goal/financial_goals.php [L]
RewriteRule ^goal/edit_goal/?$ goal/edit_goal.php [L]
RewriteRule ^goal/delete_goal/?$ goal/delete_goal.php [L]
RewriteRule ^goal/finance_recommendation/?$ goal/finance_recommendation.php [L]

# Rewrite rules for dashboard
RewriteRule ^dashboard/?$ dashboard.php [L]

# Rewrite rules for profile and registration
RewriteRule ^profile/?$ profile.php [L]
RewriteRule ^registration/?$ registration.php [L]

# Rewrite rules for notification
RewriteRule ^notification/?$ notification.php [L]

# Rewrite rule for logout
RewriteRule ^logout/?$ includes/logout.php [L]
